#note {
	width: 100%;
	padding: 30px;

	display: flex;
	flex-direction: column;
}

#editor {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

#note #actions {
	margin-bottom: 10px;
}

#note .note-title input {
	width: 90%;
	outline: none;
	border: 0;
	font-size: 2.4em;
	font-weight: bold;
	margin-bottom: 20px;
	color: #444;
}

#note .note-title input:focus {
	outline: none;
}

#note .note-content {
	line-height: 1.4em;
	flex: 1;
}

#editor_content h1,
#editor_content h2,
#editor_content h3,
#editor_content h4 {
	font-weight: normal;
}

#editor_content h1 {
	font-size: 2.1em;
}

#editor_content h2 {
	font-size: 1.8em;
}

#editor_content h3 {
	font-size: 1.5em;
}

#editor_content h4 {
	font-size: 1.2em;
}

#editor_content {
	min-height: 100%;
	margin-bottom: 0.5em;
	flex: 1;
	display: flex;
	flex-direction: column;
}

#note .note-action {
	background: none;
	border: 0;
	font-size: 1.2em;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
}

#note .note-action.red {
	color: rgba(255, 0, 0, 0.5);
}

#note .note-action.red:hover {
	color: rgba(255, 0, 0, 1);
}

#note .note-action:hover {
	color: rgba(0, 0, 0, 1);
}

#note .note-action.starred {
	color: #f90;
}

#editor_content div:first-child {
	/* Actual editor div */
	outline: 0;
	flex: 1;
	border-bottom: 3px solid #eee;
}

#editor_content blockquote {
	color: #6a737d;
	border-left: 5px solid #dfe2e5;
	padding-left: 15px;
	margin-left: 0;
}

#editor_content code {
	background: #f4f4f4;
	border-radius: 2px;
	padding: 0.2em 0.4em;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	font-size: 0.87em;
	color: #333;
}

#editor_content pre code {
	display: block;
	background: #333;
	border-radius: 2px;
	padding: 0.5em;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	font-size: 0.87em;
	color: #eee;
}

#editor_content li p {
	margin: 0;
}

#editor_content hr {
	width: 100%;
	border: 0;
	height: 1px;
	background: #999;
	margin: 1.5em 0;
}

/* Editor Toolbar */
.editor_toolbar {
	background: #eee;
	cursor: default;
	font-size: 6px;
}

.editor_toolbar button {
	cursor: pointer;
	font-size: 14px;
	background: none;
	padding: 9px 11px;
	border: 0;
	color: #000;
	font-weight: bold;
}

.editor_toolbar button:hover {
	background: #ddd;
}

.editor_toolbar button.is-active {
	background: #777;
	color: #fff;
}
