#note {
	width: 100%;
	padding: 30px;
}

#note .note-title input {
	width: 90%;
	outline: none;
	border: 0;
	font-size: 2.4em;
	font-weight: bold;
	margin-bottom: 1em;
	color: #444;
}

#note .note-title input:focus {
	outline: none;
}

#note .note-content {
	line-height: 1.4em;
}

#note #editor {
	display: none;
}

#note .tox-tinymce {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}



#note #actions {
	margin-bottom: 0.5em;
}

#note .note-action {
	background: none;
	border: 0;
	font-size: 1.2em;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
}

#note .note-action.red {
	color: rgba(255, 0, 0, 0.5);
}

#note .note-action.red:hover {
	color: rgba(255, 0, 0, 1);
}

#note .note-action:hover {
	color: rgba(0, 0, 0, 1);
}

#note .note-action.starred {
	color: #f90;
}
