html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Tahoma;
	font-size: 15px;
}

* {
	box-sizing: border-box;
}

#app {
	display: flex;
	min-height: 100%;
}

hr {
	height: 1px;
	border: 0;
	background: rgba(255, 255, 255, 0.2);
}

#status {
	position: fixed;
	top: 30px;
	right: 40px;
	color: #aaa;
	font-size: 0.9em;
}
