html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
}

* {
	box-sizing: border-box;
}

#app {
	display: flex;
	min-height: 100%;
}

hr {
	height: 1px;
	border: 0;
	background: rgba(255, 255, 255, 0.2);
	width: 80%;
}

hr.bold {
	background: rgba(0, 0, 0, 0.1);
	height: 3px;
	margin: 3em auto;
}

hr.center {
	margin-left: auto;
	margin-right: auto;
}

#status {
	position: fixed;
	top: 30px;
	right: 40px;
	color: #aaa;
	font-size: 0.9em;
}

.logo {
	font-family: 'Carter One';
	font-size: 3.5em;
	font-weight: normal;
	letter-spacing: -0.09em;
	color: #555;
	text-decoration: none;
}

.logo.ondark {
	color: #f90;
}

/* Disable text selection */
.no_selection {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}

/* Browser support */
/* IE 10 and above */
_:-ms-lang(x),
.browser_not_supported {
	display: block !important;
	font-size: 2em;
}

/* IE 8, 9, 10 */
@media screen\0 {
	.browser_not_support {
		display: block !important;
		font-size: 2em;
	}
}


/* Bulma overwrites */
.subtitle {
	font-size: 1.4em;
	color: #999;
}

.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

a.title {
	display: block;
}

.notification.is-success {
	background: #48bb74;
}

.notification.is-danger {
	background: #c56167;
}