html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
}

* {
	box-sizing: border-box;
}

#app {
	display: flex;
	min-height: 100%;
}

hr {
	height: 1px;
	border: 0;
	background: rgba(255, 255, 255, 0.2);
	width: 80%;
}

#status {
	position: fixed;
	top: 30px;
	right: 40px;
	color: #aaa;
	font-size: 0.9em;
}

/* Disable selection when doubleclicking */
.no_selection {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}
