.nav-wrap{
	/* critical sizing and position styles */
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

nav {
	/* position: sticky; */
	top: 0;
	flex-shrink: 0;
	width: 225px;
	background: #333;
	padding-top: 30px;
	color: #eee;
	height:100%;
	position: fixed;
}

/* clean this up */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background: white;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
  padding:2em 4em 2em;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;  left: 15px;
  top: 15px;  z-index: 2;
  
  /* non-critical apperance styles */
  height: 24px;
  width: 24px;
  cursor: pointer;
  transform:rotate(90deg);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 24 24' enable-background='new 0 0 24 24' xml:space='preserve'><rect width='24' height='4'/><rect y='16' width='24' height='4'/><rect y='8' width='24' height='4'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  transform: rotate(0);
  left: 500px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 500px;
}

nav .logo-wrapper {
	display: block;
	margin-bottom: 1em;
	text-align: center;
}

nav .logo-wrapper .logo {
	font-size: 2em;
}

nav p {
	padding-left: 30px;
	color: #999;
}


/* Notebooks */
nav .nav-notebooks-header {
	color: #bbb;
	letter-spacing: 0.1em;
	cursor: default;
	display: block;
	text-decoration: none;
	padding: 0.5em 30px;
	background: rgba(0, 0, 0, 0.1);
	font-weight: bold;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	
}

nav .nav-notebooks a {
	color: #eee;
	display: block;
	text-decoration: none;
	padding: 0.5em 30px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

nav .nav-notebooks a:hover {
	background: rgba(0, 0, 0, 0.15);
}

nav .nav-notebooks a.active,
nav .nav-notebooks a.sortable-ghost {
	background: rgba(0, 0, 0, 0.6);
	color: #ffe;
}

/* Notes */
.notes-list {
	position: aboslute;
	margin-left:225px;
	top: 0;
	height:100%;
	width: 260px;
	background: #f5f5f5;
	padding-top: 50px;
}

.notes-list a:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.notes-list a {
	display: block;
	color: #444;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	padding: 1.2em 20px;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.notes-list a:hover {
	background: rgba(0, 0, 0, 0.05);
}

.notes-list a.active {
	background: #fff;
	color: #f90;
}

.notes-list a.starred {
	border-left: 4px solid #f93;
}

.notes-list .empty-note-list {
	text-align: center;
	color: #999;
}


/* nav bottom links */
.nav-bottom-links {
    padding-left: 30px;
    margin-top: 1em;
}

.nav-bottom-links a,
.nav-bottom-links span {
	display: block;
	padding: 0.4em 0;
	color: #777;
	font-size: 0.85em;
	text-decoration: none;
}

.nav-bottom-links span {
	color: #aaa;
}

.nav-bottom-links span strong {
	color: #bbb;
}

.nav-bottom-links a:hover {
	color: #999;
}
nav {
    top: 0;
    flex-shrink: 0;
    width: 225px;
    background: #333;
    padding-top: 30px;
    color: #eee;
    height: 100%;
    position: fixed;
}
.newnotebook {
    background: #535353;
    border: 0;
    border-radius: 0;
    font-weight: 500;
    padding: 2em;
    display: block;
    margin: 0;
    width: 100%;
    font-size: 11px;
    color: #e3e3e3;
    cursor: pointer;
    transition: background .17s ease;
}
nav button.newnotebook:hover { background: #5e5e5e; }
.notes-list {
    margin-left: 225px;
    top: 0;
    height: 100%;
    width: 260px;
    background: #f5f5f5;
    padding-top: 6em;
}
.notes-list button.newnote {
    background: #e0e1df;
    border: 0;
    border-radius: 0;
    font-weight: 500;
    padding: 2em;
    display: block;
    margin: 0;
    width: 100%;
    font-size: 11px;
    color: #6f6f6f;
    cursor: pointer;
    transition: background .12s ease;
}
.notes-list button.newnote:hover { background: #e7e8e7; }

.notes-list a {
    display: block;
    padding: 2em;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e3e3e3;
    border-bottom: 1px solid #e5e6e5;
    letter-spacing: -.01rem;
    transition:background .076s ease,color .4s ease;
    color: #999;
    font-size: 0.9em;
}
.notes-list a.active {
    background: #e6e6e6;
    color: inherit;
    font-weight: 600;
    letter-spacing: -.01rem;
}
/* .notes-list a.starred { border-left:0; box-shadow: inset 5px 0 0 #00ff04; } keep orange */
/* empty note list message font size + spacing */
.notes-list .empty-note-list {
    text-align: center;
    color: #999;
    padding: 2.5em;
    font-size: 1.5em;
}