nav {
	position: sticky;
	top: 0;
	flex-shrink: 0;
	width: 210px;
	background: #444;
	padding-top: 30px;
	color: #eee;
}

nav .logo {
	display: block;
	color: #f90;
	font-weight: normal;
	font-size: 1.4em;
	text-decoration: none;
	margin-bottom: 1em;
	text-align: center;
}

nav button {
	background: #86bb21;
	color: #000;
	border: 0;
	border-bottom: 3px solid #75a023;
	border-radius: 2px;
	font-weight: bold;
	padding: 8px 20px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 20px;
}

nav button:hover {
	background: #aada50;
}

nav p {
	padding-left: 30px;
	color: #999;
}

nav .nav-notes a {
	color: #eee;
	display: block;
	text-decoration: none;
	padding: 0.5em 30px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

nav .nav-notes a:hover {
	background: rgba(0, 0, 0, 0.15);
}

nav .nav-notes a.active {
	background: rgba(0, 0, 0, 0.3);
	color: #ffe;
}
