/* OBSOLETE */
/* OBSOLETE */
/* OBSOLETE */
/* OBSOLETE */
/* OBSOLETE */
/* OBSOLETE */
/* OBSOLETE */
/* OBSOLETE */


html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
}

* {
	box-sizing: border-box;
}

header {
	display: block;
	padding-top: 40px;
	padding-bottom: 20px;
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

header a {
	font-size: 4em;
	text-decoration: none;
	color: #f90;
	font-weight: bold;
}

main {
	display: flex;
}

nav {
	background: #eee;
}
